:root {

    // fonts

    --font-primary: 'Manrope', sans-serif;

    // colors

    --color-primary: #009661;
    --color-primary-2: #00c37e;

    --color-accent: var(--color-accent);

    --color-text: #fff;
    --color-text-2: #fff;

    --color-text: green;

    // container

    --container-width: 1216px;
    --container-padding: 20px;
}