:root {

    // fonts

    --font-primary: 'Manrope', sans-serif;

    // colors

    --color-primary: #009661;
    --color-primary-2: #00c37e;

    --color-accent: #2f80ed;

    --color-bg: #141416;
    --color-bg-2: #1b1b1e;

    --color-text: #fff;
    --color-text-2: #858586;
    --color-text-3: rgba(255, 255, 255, .6);
    --color-text-4: #676769;

    // container

    --container-width: 1216px;
    --container-padding: 20px;
}