.about {

    // top

    &__top {
        padding: 90px 0 180px;
    }

    &__heading {
        margin: 0 auto 30px;
        max-width: 917px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    // cards

    &__cards {}

    &__cards-inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    &__cards-slide:nth-child(1) {
        padding-top: 64px;
    }

    &__cards-slide:nth-child(2) {
        padding-top: 128px;
    }

    &__cards-slide:nth-child(3) {
        padding-top: 64px;
    }

    // card

    &__card {
        overflow: hidden;
        position: relative;
        border-radius: 8px;
        background: #1b1b1e;
    }

    &__card-image {
        border-radius: 8px;
        object-fit: cover;
    }

    &__card-info {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 23px 32px;
        height: 221px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(180deg, rgba(20, 20, 22, 0) 0%, rgba(20, 20, 22, 0.8) 100%);
    }

    &__card-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        color: #fff;
    }

    // bottom

    &__bottom {
        padding: 192px 0 50px;
        background: #1b1b1e;
    }

    // benefits

    &__benefits {
        position: relative;
        margin: -65px -80px;
    }

    &__benefits-image {}

    // benefit

    &__benefit {
        position: absolute;
        transform: translateX(-50px);

        &--left {
            top: -1.5%;
            left: 11.8%;
        }

        &--center {
            top: -7%;
            left: 50%;
        }

        &--right {
            top: -1.5%;
            right: 2.9%;
        }
    }

    &__benefit-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        color: #fff;
    }

    &__benefit-dot {
        transform: translateX(-50%);
        position: absolute;
        bottom: -38px;
        left: 50%;
        border-radius: 100%;
        width: 16px;
        height: 16px;
        background: #2f80ed;
        animation: dot 1.5s infinite;

        &::before,
        &::after {
            content: '';
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 100%;
            border: 1px solid #2f80ed;
            animation: circles 1.5s infinite;
        }

        &::before {
            width: 40px;
            height: 40px;
            opacity: .4;
        }

        &::after {
            width: 60px;
            height: 60px;
            opacity: .15;
        }
    }
}

@keyframes dot {

    0%,
    100% {
        transform: translateX(-50%) scale(1.2);
    }

    50% {
        transform: translateX(-50%) scale(.8);
    }
}


@keyframes circles {

    0%,
    100% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(.5);
    }
}