.about {

    &__top {
        padding: 90px 0 180px;
    }

    &__heading {
        margin: 0 auto 30px;
        max-width: 917px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__cards {}

    &__cards-inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    &__cards-slide {}

    &__card {
        overflow: hidden;
        position: relative;
        border-radius: 8px;
        background: #1b1b1e;
    }

    &__card-image {
        border-radius: 8px;
        object-fit: cover;
    }

    &__card-info {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 23px 32px;
        height: 221px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(180deg, rgba(20, 20, 22, 0) 0%, rgba(20, 20, 22, 0.8) 100%);
    }

    &__card-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        color: #fff;
    }

    &__bottom {}

    &__benefits {}
}