.footer {
    padding: 75px 0 32px;
    border-top: 1px solid #424247;

    @include laptop {
        padding: 55px 0 20px;
    }

    &__top {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        @include laptop {
            margin-bottom: 38px;
            padding: 0 45px 0 43px;
            align-items: flex-start;
        }
    }

    // info

    &__info {
        max-width: 320px;

        @include laptop {
            max-width: 209px;
        }
    }

    &__info-logo {
        margin-bottom: 22px;
        padding-left: 3px;
    }

    &__info-about {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71429;
        color: rgba(255, 255, 255, 0.6);
    }

    // links

    &__links {}

    &__links-title {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.6);
    }

    &__links-row {
        display: flex;
        gap: 60px;

        @include laptop {
            flex-direction: column;
            gap: 12px;
        }
    }

    &__links-link {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.71429;
        text-transform: uppercase;
        color: #fff;

        &:hover {
            color: #009661;
        }
    }

    // socials

    &__socials {
        min-width: 185px;

        @include laptop {
            min-width: auto;
        }
    }

    &__socials-title {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.6);
    }

    &__socials-list {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__socials-item {}

    &__socials-link {

        &:hover {
            opacity: 0.7;
        }
    }

    &__socials-icon {}

    // bottom

    &__bottom {
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgba(255, 255, 255, 0.1);
    }

    &__copyright {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71429;
        color: rgba(255, 255, 255, 0.6);
    }
}