.header {
    z-index: 10;
    padding: 16px 0;

    @include mobile {
        padding: 33px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    &__logo {}

    &__logo-icon {}

    &__login {
        padding: 16px 32px;
        font-size: 14px;
        line-height: 1.71429;
        background: #1b1b1e;

        @include mobile {
            display: none;
        }

        &:hover {
            background: #009661;
        }
    }
}