.hero {
    position: relative;
    padding: 245px 0;
    background: url('../img/hero/hero-bg.jpg') no-repeat center / cover;

    @media (min-resolution: 192dpi) {
        background-image: url('../img/hero/hero-bg@2x.jpg');
    }

    &::before {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 58.33%;
        height: 100%;
        background: linear-gradient(270deg, rgba(20, 20, 22, 0.1) 0%, #141416 61.01%);
    }

    &__container {
        z-index: 2;
        position: relative;
    }

    &__inner {
        max-width: 768px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__subtitle {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        color: rgba(255, 255, 255, .6);
    }

    &__title {
        margin-bottom: 65px;
        font-weight: 400;
        font-size: 60px;
        line-height: 1.5;
        color: #fff;
    }

    &__btn {
        padding: 20px 32px;
    }
}