.menu {

    @include tablet {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 60px;

        @include laptop {
            gap: 32px;
        }
    }

    &__item {}

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.71429;
        color: #858586;

        &:hover {
            color: #009661;
        }
    }
}