.menu {
    transition: all .2s;

    @include mobile {
        pointer-events: none;
        overflow-y: auto;
        visibility: hidden;
        position: fixed;
        top: 88px;
        bottom: 0;
        left: -120%;
        padding: calc(var(--container-padding) * 2) var(--container-padding);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        background: #1b1b1e;
    }

    @include mobile-small {
        top: 72px;
    }

    &--active {

        @include mobile {
            pointer-events: all;
            visibility: visible;
            left: 0;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 60px;

        @include tablet {
            gap: 32px;
        }

        @include mobile {
            flex-direction: column;
            gap: 22px;
        }
    }

    &__item {}

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.71429;
        color: #858586;

        @include mobile {
            padding: 5px;
            font-size: 16px;
        }

        &:hover {
            color: var(--color-primary);
        }
    }

    &__login {
        display: none;

        @include mobile {
            display: block;
        }

        @include mobile-small {
            width: 100%;
        }
    }
}