.modal {
    backdrop-filter: blur(30px);
    background: rgba(20, 20, 22, 0.1);

    &__container {
        border-radius: 10px;
        padding: 80px 77px 88px;
        max-width: 598px;
        width: 100%;
        box-shadow: 0 56px 94px 0 rgba(0, 0, 0, 0.53);
        background: #1b1b1e;
    }

    &__close {
        top: 30px;
        right: 30px;
        padding: 15px;
        width: 20px;
        height: 20px;
        background: url('../img/icons/close.svg') no-repeat center;

        &:hover {
            opacity: 0.7;
        }
    }

    &__content {}

    &__title {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.5;
        text-align: center;
        color: #fff;
    }

    &__description {
        margin: 0 auto 60px;
        max-width: 356px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #858586;
    }

    // form

    &__form {
        margin: 0 auto;
        max-width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__inputs {
        margin-bottom: 48px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__input {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71429;
        color: #fff;
        padding-bottom: 7px;
        border-bottom: 2px solid rgba(162, 165, 166, 0.2);
        transition: 0.2s;

        &::placeholder {
            color: #858586;
        }

        &:hover {
            border-color: rgba(162, 165, 166, 0.4);
        }

        &:focus {
            border-color: #009661;
        }
    }

    &__btn {
        width: 100%;
    }
}