.plans {
    padding: 184px 0 180px;

    @include laptop {
        padding: 180px 0;
    }

    @include tablet {
        padding: 156px 0 150px;
    }

    &__heading {
        position: relative;
        margin: 0 auto 80px;
        max-width: 886px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        @include laptop {
            margin: 0 auto 108px;
            max-width: 600px;
        }

        @include tablet {
            margin: 0 auto 80px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            border-radius: 8px;
            width: 108px;
            height: 180px;
            background: #1b1b1e;

            @include laptop {
                height: 136px;
            }
        }
    }

    &__cards {
        margin: 0 auto 120px;
        max-width: 1113px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        @include laptop {
            max-width: 942px;
        }

        @include tablet {
            margin: 0 auto 116px;
        }
    }

    &__cta {
        position: relative;
        margin: 0 auto;
        padding: 51px 0 51px 54px;
        max-width: 757px;
        width: 100%;

        @include tablet {
            padding: 35px 0 35px 36px;
            max-width: 614px;
        }
    }

    &__cta-image {
        position: absolute;
        top: 0;
        left: -33px;

        @include tablet {
            left: -76px;
            width: 336px;
        }
    }

    &__cta-info {
        border-radius: 8px;
        padding: 30px 40px 38px 259px;
        background: #1b1b1e;

        @include tablet {
            padding: 40px 40px 40px 189px;
        }
    }

    &__cta-title {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        color: #fff;

        @include tablet {
            font-size: 20px;
        }
    }

    &__cta-text {
        margin-bottom: 40px;
        max-width: 265px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #858586;
    }
}