.plan {
    border-radius: 8px;
    padding: 40px 20px;
    max-width: 289px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        background: #1b1b1e;

        .plan__btn {
            background: var(--color-primary);
        }
    }

    &__icon {
        margin-bottom: 18px;
    }

    &__title {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: var(--color-text);
    }

    &__price {
        margin-bottom: 8px;
        display: flex;
        align-items: baseline;
        gap: 2px;
    }

    &__price-currency {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71429;
        text-align: center;
        color: #676769;
    }

    &__price-value {
        font-weight: 400;
        font-size: 40px;
        line-height: 1.5;
        color: var(--color-text);

        @include tablet {
            font-size: 30px;
        }
    }

    &__price-period {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71429;
        text-align: center;
        color: #676769;
    }

    &__ads {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.33333;
        text-align: center;
        color: var(--color-primary);
    }

    &__btn {
        border-radius: 100%;
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--color-primary);
        transition: 0.2s;
    }

    &__btn-icon {
        transform: translateX(1px);
    }
}