.steps {
    padding: 120px 0;
    background: #1b1b1e;

    @include tablet {
        padding: 100px 0;
    }

    @include mobile {
        padding: 80px 0;
    }

    &__heading {
        margin-bottom: 80px;

        @include laptop {
            margin-bottom: 95px;
        }

        @include tablet {
            margin-bottom: 80px;
        }

        @include mobile {
            margin-bottom: 60px;
        }
    }

    &__cards {
        overflow: hidden;
        margin-bottom: 120px;
        display: flex;
        flex-direction: column;
        gap: 60px;

        @include tablet {
            margin-bottom: 100px;
        }

        @include mobile {
            margin-bottom: 80px;
            gap: 83px;
        }
    }

    &__footer {
        padding: 0 var(--container-padding);
        display: flex;
        justify-content: center;
    }
}